@import url(http://fonts.googleapis.com/css?family=Open+Sans);

/* set global font to Open Sans */


/* header */


/* header/copyright link */
.link {
  text-decoration: none;
  color: #55acee;
  border-bottom: 2px dotted #55acee;
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
  cursor: url(http://cur.cursors-4u.net/symbols/sym-1/sym46.cur), auto;
}

.link:hover {
  color: #2ecc71;
  border-bottom: 2px dotted #2ecc71;
}

/* button div */
#buttons {
  padding-top: 50px;
  text-align: center;
}

/* start da css for da buttons */
.btn {
  border-radius: 5px;
  padding: 5px 25px;
  font-size: 16px;
  text-decoration: none;
  margin: 20px;
  color: #fff;
  position: relative;
  display: inline-block;
}

.btn:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  box-shadow: 0px 1px 0px 0px;
}

.blue {
  background-color: #55acee;
  box-shadow: 0px 5px 0px 0px #3C93D5;
}

.blue:hover {
  background-color: #6FC6FF;
}

.green {
  background-color: #2ecc71;
  box-shadow: 0px 5px 0px 0px #15B358;
}

.green:hover {
  background-color: #48E68B;
}

.red {
  background-color: #e74c3c;
  box-shadow: 0px 5px 0px 0px #CE3323;
}

.red:hover {
  background-color: #FF6656;
}

.purple {
  background-color: #9b59b6;
  box-shadow: 0px 5px 0px 0px #82409D;
}

.purple:hover {
  background-color: #B573D0;
}

.orange {
  background-color: #e67e22;
  box-shadow: 0px 5px 0px 0px #CD6509;
}

.orange:hover {
  background-color: #FF983C;
}

.yellow {
  background-color: #f1c40f;
  box-shadow: 0px 5px 0px 0px #D8AB00;
}

.yellow:hover {
  background-color: #FFDE29;
}

.card1 {
  left: 50%;
  margin-left: -13em;
  z-index: 10;
  transform: rotateZ(-3deg);
  -moz-transform: rotateZ(-3deg);
  -webkit-transform: rotateZ(-3deg);
  transition: all 0.5s ease-out 0.3s;
}
.card2 {
  left: 50%;
  margin-left: -12em;
  z-index: 9;
  transition: all 0.5s ease-out 0.15s;
}
.card3 {
  left: 50%;
  margin-left: -11em;
  z-index: 8;
  transform: rotateZ(3deg);
  -webkit-transform: rotateZ(3deg);
  -moz-transform: rotateZ(3deg);
  transition: all 0.5s ease-out;
}
.card4 {
  left: 81%;
  margin-left: -11em;
  z-index: 8;
  transform: rotateZ(3deg);
  -webkit-transform: rotateZ(3deg);
  -moz-transform: rotateZ(3deg);
  transition: all 0.5s ease-out;
}
.card5 {
  left: 31%;
  margin-left: -11em;
  z-index: 8;
  transform: rotateZ(3deg);
  -webkit-transform: rotateZ(3deg);
  -moz-transform: rotateZ(3deg);
  transition: all 0.5s ease-out;
}
.card6 {
  left: 11%;
  margin-left: -11em;
  z-index: 8;
  transform: rotateZ(3deg);
  -webkit-transform: rotateZ(3deg);
  -moz-transform: rotateZ(3deg);
  transition: all 0.5s ease-out;
}
.card7 {
  left: 100%;
  margin-left: -11em;
  z-index: 8;
  transform: rotateZ(3deg);
  -webkit-transform: rotateZ(3deg);
  -moz-transform: rotateZ(3deg);
  transition: all 0.5s ease-out;
}
.start .card {
  left: -100%;
  opacity: 0;
  transform: rotateZ(0deg);
  -webkit-transform: rotateZ(0deg);
  -moz-transform: rotateZ(0deg);
}
body {
  
  font-family: Georgia;
  font-size: 0.75em;
  line-height: 1.5em;
}
h1 {
  font-family: Helvetica, Arial, sans-serif;
}
.card-container {
  position: relative;
  width: 18em;
  margin: 4em auto;
}
.card {
  position: absolute;
  top: 0;
  background: #fff;
  box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.65);
  border-radius: 0em;
  padding: 2em;
  width: 20em;
  max-width: 20em;
  -webkit-backface-visibility: hidden;
}
.card a {
  margin: 0em -2em;
  display: block;
  width: 120%;
  max-width: 24em;
  position: relative;
  line-height: 1em;
}

.card h1 {
  margin-top: 0;
}
.card p {
  line-height: 1.75em;
  margin-bottom: 0;
}
.card-container:hover .card,
.card-container.hover .card {
  opacity: 0.9;
  transform: scale(0.95);
  -webkit-transform: scale(0.95);
  margin-left: -12em;
}
.card-container:hover .card:hover,
.card-container.hover .card:hover,
.card-container:hover .card.hover,
.card-container.hover .card.hover {
  opacity: 1;
  z-index: 11;
  transform: scale(1);
  -webkit-transform: scale(1);
}
.card-container:hover .card1,
.card-container.hover .card1 {
  transform: rotateZ(0deg) scale(0.95);
  -webkit-transform: rotateZ(0deg) scale(0.95);
}
.card-container:hover .card2,
.card-container.hover .card2 {
  left: 0%;
}
.card-container:hover .card3,
.card-container.hover .card3 {
  left: 100%;
}
img {
  max-width: 100%;
}
@media (min-width: 880px) {
  body {
    font-size: 0.9em;
  }
  .card-container {
    width: 24em;
  }
}
@media (min-width: 1075px) {
  body {
    font-size: 1.1em;
  }
  .card-container {
    width: 38em;
  }
}
@media (max-height: 550px) {
  body {
    font-size: 0.8em;
  }
  .card-container {
    width: 24em;
  }
}