/*
  I'm digging this simple border-bottom effect.

  No transitions, no gradients, etc, just a flat style for buttons.
*/
hr {
  border: none;
}
body {
  font-family: "Hind";
  color: #147233;
}
.container {
  background: #333;
}
.btn:hover {
  border-bottom-width: 4px;
  margin-bottom: 22px;
}
.btn {
  display: inline-block;
  vertical-align: top;
  padding: 8px 14px 10px;
  margin-top: 1px;
  margin-bottom: 25px;
  border: 1px solid;
  color: white;
  border-radius: 9px;
  font-size: 18px;
  font-weight: 300;
  text-decoration: none;
}
.btn.inverse {
  color: #222;
  background-color: white;
  border-color: #b7b7b7;
}
.btn + .btn {
  margin-left: 0.5em;
}
.btn.create {
  color: lightgreen;
}
.btn.winner {
  color: skyblue;
}
.btn.avoid {
  color: tomato;
}
.btn.danger {
  border-color: transparent;
  color: salmon;
}
.lightbg .btn {
  color: #111;
}
.lightbg .btn + .btn {
  margin-left: 0.5em;
}
.lightbg .btn.create {
  color: tomato;
}
.lightbg .btn.winner {
  color: deepskyblue;
}
.lightbg .btn.avoid {
  color: forestgreen;
}
.lightbg .btn.danger {
  border-color: transparent;
  color: salmon;
}
.btn:hover.danger {
  color: tomato;
  margin-bottom: 24px;
  border: 1px dotted;
}
.btn.whooooa {
  float: right;
  margin-right: 1px;
  padding-bottom: 8px;
  font-size: 22px;
  opacity: 0.06;
  -webkit-transition: all 0.8s ease-out;
}
.btn.whooooa:hover {
  color: firebrick;
  opacity: 0.96;
  border: 4px double;
  border-bottom: 34px dashed;
  border-top: 6px double;
  padding-top: 18px;
}
.container,
.lightbg {
  text-align: left;
  max-width: 700px;
  margin: 50px auto 32px;
  padding: 30px;
  border-left: 1px solid;
}
.lightbg {
  margin-top: 32px;
  color: #111;
  background: whiteSmoke;
  border-style: dashed;
}

p {
  margin: 16px 0;
}
hr {
  color: #777;
}
a {
  color: whiteSmoke;
}

@font-face {
  font-family: 'Electrolize';
  font-style: normal;
  font-weight: 400;
  src: local('Electrolize'), local('Electrolize-Regular'), url(http://themes.googleusercontent.com/static/fonts/electrolize/v2/DDy9sgU2U7S4xAwH5thnJ4bN6UDyHWBl620a-IRfuBk.woff) format('woff');
}


h1 { 
  text-transform: uppercase;
  color: #fff;
  text-align: center;
}

h1 {
  margin-top:35px;
  font-size:56px;
  font-family: 'Electrolize'; 
	text-shadow:	 1px  1px 1px #66644d,
					 2px  2px 1px #66644d,
					 3px  3px 1px #66644d,
					 4px  4px 1px #66644d,
					 5px  5px 1px #66644d,
					 6px  6px 1px #66644d,
					 7px  7px 1px #66644d,
					 8px  8px 1px #66644d,
					 9px  9px 1px #66644d,
					10px 10px 1px #66644d,
					11px 11px 1px #66644d,
					12px 12px 1px #66644d,
					13px 13px 1px #66644d,
					14px 14px 1px #66644d,
					15px 15px 1px #66644d,
					16px 16px 1px #66644d,
					17px 17px 1px #66644d,
					18px 18px 1px #66644d,
					19px 19px 1px #66644d,
					20px 20px 1px #66644d,
					21px 21px 1px #66644d,
					22px 22px 1px #66644d,
					23px 23px 1px #66644d,
					24px 24px 1px #66644d,
					25px 25px 1px #66644d,
					26px 26px 1px #66644d,
					27px 27px 1px #66644d,
					28px 28px 1px #66644d,
					29px 29px 1px #66644d,
					30px 30px 1px #66644d;
  
  -webkit-transform: skewY(-5deg);
  -moz-transform: skewY(-5deg);
	transform: skewY(-5deg);
  
  -webkit-backface-visibility: hidden;
}